@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* bg-slate-900 (dark) | text-slate-200 (putih pudar) | font-sans (Inter) */
    @apply bg-slate-900 text-slate-200 font-sans;
  }
}
